.footer {
  background-color: var(--color-secondary-1);
  color: var(--color-primary-3);
  padding: 1rem;
}

.footer a {
  color: var(--color-primary-3);
  font-size: 1.5rem;
  margin-right: 15px;
}

.footer a:hover {
  color: #fff;
}

.footer p {
  color: var(--color-primary-3);
  text-align: center;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .container .socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
